:root {
  --fs-sm: 0.8rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;
  --fs-xl: 4rem;
  --main-accent-color: rgb(66, 64, 64);
  --background-color: rgb(248, 245, 243);
}

@media (min-width: 490px) {
  :root {
    --fs-sm: 0.8rem;
    --fs-md: 1rem;
    --fs-lg: 1.5rem;
    --fs-xl: 4rem;
  }
}

@media (min-width: 71rem) {
  :root {
    --fs-sm: 0.95rem;
    --fs-md: 1.125rem;
    --fs-lg: 1.375rem;
    --fs-xl: 6rem;
  }
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--background-color);
}

.inter-normal {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat-normal {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1, h2, h3 {
  color: var(--main-accent-color);
}

h1 {
  font-size: var(--fs-lg);
  font-weight: 600;
  letter-spacing: 0.0125rem;
}

h2 {
  font-size: var(--fs-lg);
  font-weight: 400;
}

h3 {
  font-size: var(--fs-sm);
  font-weight: 300;
}

i {
  font-style: italic;
  font-weight: 400;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

.text-wrapper {
  max-width: 90%;
  margin: 2rem auto;
}

.text-wrapper > p {
  font-size: var(--fs-md);
}

@media (min-width: 490px) {
  .container {
    max-width: 90vw;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-bottom: 4rem;
  }

  .img-container {
    padding-block: 1rem;
    max-width: 90%;
  }

  .text-wrapper {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 71rem) {
  .container {
    max-width: 80vw;
  }

  .img-container {
    padding-block: 1.5rem;
    max-width: 80%;
  }

  .text-wrapper {
    max-width: min(80%, 70ch);
  }
}

@media (min-width: 90rem) {
  .container {
    max-width: 75vw;
  }

  .img-container {
    padding-block: 2rem;
    max-width: 75%;
  }
}

.grid-page-link-card {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

a {
  color: var(--main-accent-color);
  text-decoration: none;
}

.page-link-card {
  aspect-ratio: 1 / 1;

  &:hover .page-link-card__content {
    opacity: 1;
  }
}

.page-link-card__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.page-link-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background: rgba(0, 0, 0, 0.1);
  transition: 600ms;

  h2,
  p {

    text-align: center;
    max-width: 80%;
    color: white;
  }
}

@media(pointer: fine) {
  .page-link-card__content {
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

// Bad Actor

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

@media (min-width: 490px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-2 {
  grid-column: span 2;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-block: 1rem;
  margin-inline: auto;
}

.max-80-percent {
  max-width: 80%;
  margin-inline: auto;
}

.max-60-percent {
  max-width: 60%;
  margin-inline: auto;
}

.sticky {
  z-index: 1;
  margin-top: 1.75rem;
  padding-top: 5px;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: var(--background-color);
  transform: translateY(-5px);
  transition-property: transform;
  transition-duration: 200ms;
}

.hidden {
  transform: translateY(-100%);
}

.wrapper-cv {
  margin-top: 0;
  margin-bottom: 2rem;
}

@media(min-width: 490px) {
  .even-rows {
    grid-auto-rows: 1fr;
  }
}
